# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are:

- Python
- R
- SQL
- MATLAB
- JAVA

## Some of the commonly used libraries used by Data Scientists include:
- NumPy
- Pandas
- Matplot
- Seaborn

## Data Science Libraries and Tools

| Data Science Tools |
|-------------------|
| NumPy             |
| Pandas            |
| Matplotlib        |
| Seaborn           |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [4]:
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60

h=200//60
h

3

**Objectives:**
- understand 
- analyze
- Apply

## Author
Hassan